body{
    background-color: rgb(35, 35, 35);
}
.header{
    background-color: grey;
    border-radius: 10px;
    padding-bottom:1%;
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
}
.navBar{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.my-button{
    border-radius:20px;
    margin-top: 15px;
    color: white;
    background-color: grey;
    font-size: large;
    padding: 12px;
    border: none;
}
.my-button:hover{
    background-color: black;
    transition: 0.5s;
}
.mbodyhalf{
    color: white;
    padding-left: 3%;
    padding-top: 5%;
}
.my-button-signin{
    border-radius:9px;
    margin-top: 15px;
    color: white;
    background-color: blue;
    font-size: 16px;
    padding: 10px;
    border: none;
    transition: all 0.5s;
}
.my-button-signin:hover{
    padding:15px;
    font-size: 18px;
}
.iconClass{
    padding-top: 1.5%;
    padding-right:2%;
}
.iconClass:hover{
    transform: rotateZ(20deg);
    transition: 0.5s;
}
.goproclass{
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    border-color: aqua;
    color: aqua;
    padding: 15px;
}
.goproclass:hover{
    background-color: aqua;
    color: white;
    transition: 0.6s;
}
.courses{
    padding: 10px;
    margin: 5%;
}
.cards{
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 10%;
    border-radius: 9px;
    background-color: grey;
    display: flex;
    flex-direction: right;
    flex-basis: 100%;
}
.card2{
    background-color: white;
    width: 40%;
    height: max-content;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    font-size: 95%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.537);
}
.card2:hover{
    box-shadow: 0 20px 40px 0 black;
    transition :0.2s;
}
.card3{
    background-color: white;
    width: 40%;
    margin: 10%;
    height: max-content;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    font-size: 95%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.537);
}
.card3:hover{
    box-shadow: 0 20px 40px 0 black;
    transition :0.2s;
}
.practice-for-free-class{
    height: auto;
    width: auto;
    border-radius: 9px;
    background-color:grey;
    margin-left: 6%;
    margin-right:5%;

}
.btn1class{
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    border-color: skyblue;
    color: skyblue;
    padding: 15px;
    font-size: larger;
    margin-right: 4%;
    border-width: 0.1cm;
}
.btn1class:hover{
    background-color: skyblue;
    color: white;
    transition: 0.6s;
}
.btn2class{
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    border-color: aqua;
    color: aqua;
    padding: 15px;
    border-width: 0.1cm;
    font-size: larger;
    margin-right: 4%;
}
.btn2class:hover{
    background-color: aqua;
    color: white;
    transition: 0.6s;
}
.btn3class{
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    border-color: blue;
    color: blue;
    padding: 15px;
    font-size: larger;
    border-width: 0.1cm;
}
.btn3class:hover{
    background-color: blue;
    color: white;
    transition: 0.6s;
}
.threebuttons{
    padding-left: 30%;
}
@media (min-width: 1001px) {
    .cards{
        flex-direction: row;
    }
    .card2{
        /* flex-direction: column; */
        flex-basis: 100%;
        margin: 10px;
    }
    .card3{
        /* flex-direction: column; */
        flex-basis: 100%;
        margin: 10px;
    }
}
@media (max-width: 1000px) {
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card2{
        flex-basis: 100%;
        margin: 10px;
    }
    .card3{
        flex-basis: 100%;
        margin: 10px;
    }
}