.navbarclass{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1%;
}
.leftnavbar{
    display: flex;
    flex-direction: row;
}
#navbarlogo{
    font-size: 36px;
    margin-left:20%;
    text-decoration: none;   
    color: red;
}
.navbarbutton{
    color: white;
    text-decoration: none;
    margin-left: 40%;
    padding-top: 4%;
}
.navbarbutton:hover{
    color: grey;
    background-color: white;
}
#signupid{
    background-color: blue;
    color: white;
    border: none;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 18px;
    border-radius: 20px;
}
.bodyclass{
    background-color: rgb(188, 187, 187);
}
.quotesclass{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style:italic;
}